body {
  margin: 0;
  background-image: linear-gradient(#000000, #2f5776);
  header {
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    img {
      height: 50px;
      margin-right: 25px;
      margin-top: 20px;
      margin-bottom: 20px;
    }
    button {
      border-radius: 50px;
      width: 150px;
      margin-right: 25px;
      margin-top: 20px;
      margin-bottom: 20px;
      a {
        color: white;
        text-decoration: none;
        font-family: "Saira", serif;
        font-optical-sizing: auto;
        font-style: normal;
        font-variation-settings: "wdth" 100;
      }
      background-image: linear-gradient(to right, blue, rgb(2, 2, 88));
    }
    #button1 {
      background-image: linear-gradient(to right, rgb(84, 83, 83), black);
    }
    #button3 {
      background-image: linear-gradient(
        to right,
        rgb(152, 152, 236),
        rgb(95, 95, 225)
      );
    }
  }
  main {
    #carrouselle {
      margin: 0;
      text-align: center;
      background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url(images/image_1_carou.jpg);
      background-position: center;
      background-size: cover;

      h1 {
        font-family: "Righteous", serif;
        font-weight: 400;
        font-style: normal;
        margin-top: 0;
        padding-bottom: 50px;
        padding-top: 50px;
        background-image: linear-gradient(
          to right,
          rgb(255, 255, 255),
          rgb(0, 0, 153)
        );
        color: transparent;
        background-clip: text;
      }
      p {
        color: white;
        text-decoration: none;
        font-family: "Saira", serif;
        font-optical-sizing: auto;
        font-style: normal;
      }
      #carou {
        margin-top: 50px;
        margin-bottom: 50px;
        border-radius: 50px;
        width: 150px;
        background-image: linear-gradient(to right, blue, rgb(2, 2, 88));
        a {
          color: white;
          text-decoration: none;
          font-family: "Saira", serif;
          font-optical-sizing: auto;
          font-style: normal;
          font-variation-settings: "wdth" 100;
        }
      }
    }
    #explication {
      .cadre {
        margin-top: 125px;
        margin-left: 300px;
        margin-right: 400px;
        margin-bottom: 50px;
        justify-content: center;
        display: flex;
        flex-direction: row;
        background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 1))
            padding-box,
          linear-gradient(to bottom right, rgb(255, 255, 255), rgb(0, 0, 153))
            border-box;
        border-radius: 25px;
        border: 3px solid transparent;
        padding: 5px;
      }
      img {
        width: 300px;
        border-radius: 25px;
      }
      .text_cadre {
        width: 500px;
        h2 {
          background-image: linear-gradient(
            to right,
            rgb(156, 155, 155),
            rgb(0, 0, 153)
          );
          color: transparent;
          background-clip: text;
          margin-left: 50px;
        }
        p {
          margin-left: 50px;
          margin-top: 50px;
          color: white;
        }
        a {
          margin-left: 200px;
          padding-left: 25px;
          padding-right: 25px;
          border-radius: 50px;
          width: 150px;
          background-image: linear-gradient(to right, blue, rgb(2, 2, 88));
          color: white;
          text-decoration: none;
          font-family: "Saira", serif;
          font-optical-sizing: auto;
          font-style: normal;
          font-variation-settings: "wdth" 100;
        }
      }
    }
    #realisation {
      margin-top: 50px;
      h2 {
        text-align: center;
        background-image: linear-gradient(
          to right,
          rgb(255, 255, 255),
          rgb(0, 0, 153)
        );
        color: transparent;
        background-clip: text;
      }
      img {
        margin-top: 125px;
        margin-left: 300px;
        margin-right: 400px;
        width: 800px;
      }
      .projet1 {
        margin-left: 250px;
        margin-bottom: 50px;
        padding-top: 490px;
        border-radius: 25px;
        height: 50px;
        width: 900px;
      }
      #clc {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        button {
          margin-left: 500px;
          border-radius: 50px;
          width: 150px;
          background-image: linear-gradient(to right, blue, rgb(2, 2, 88));
          color: white;
          text-decoration: none;
          margin-bottom: 10px;
          a {
            font-family: "Saira", serif;
            font-optical-sizing: auto;
            font-style: normal;
            font-variation-settings: "wdth" 100;
            text-decoration: none;
            color: white;
          }
        }
      }
    }
    #fond {
      background-image: url(images/nos_projet1.jpg);
      background-size: cover;
      background-position: center;
    }
    h2 {
      text-align: center;
      background-image: linear-gradient(
        to right,
        rgb(255, 255, 255),
        rgb(0, 0, 153)
      );
      color: transparent;
      background-clip: text;
    }
    #temoigniage {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      .avisCard {
        h3 {
          text-align: center;
          color: white;
        }
        border: black 1px solid;
        border-radius: 15px;
        width: 400px;
        height: 500px;
        img {
          width: 70px;
        }
        .empty {
          height: 350px;
        }
      }
      #avis1 {
        background-image: url(images/photo_inter_1.jpg);
        background-size: cover;
        background-position: center;
      }
      #avis2 {
        background-image: url(images/persone2.jpg);
        background-size: cover;
        background-position: center;
      }
      #avis3 {
        background-image: url(images/persone_3.jpg);
        background-size: cover;
        background-position: center;
      }
    }
    #interesser {
      display: flex;
      flex-direction: column;
      justify-content: center;
      button {
        width: 150px;
        border-radius: 50px;
        background-image: linear-gradient(to right, blue, rgb(2, 2, 88));
        a {
          color: white;
          text-decoration: none;
        }
      }
    }
  }
  footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    .ecriture {
      display: flex;
      flex-direction: column;
    }
    .truc {
      display: flex;
      flex-direction: column;
    }
    img {
      width: 60px;
    }
  }
}
