* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



h1 {
    color: blue;
    font-family: "Righteous", serif;
}

h2 {
color: white;
font-family: "Righteous", serif;
}

h3 {
    color: white;
    font-family: "Righteous", serif;
}

p {
    font-family: "Saira", serif;
}

header {
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    img {
      height: 50px;
      margin-right: 25px;
      margin-top: 20px;
      margin-bottom: 20px;
    }
    button {
      border-radius: 50px;
      width: 150px;
      margin-right: 25px;
      margin-top: 20px;
      margin-bottom: 20px;
      a {
        color: white;
        text-decoration: none;
        font-family: "Saira", serif;
        font-optical-sizing: auto;
        font-weight: <weight>;
        font-style: normal;
        font-variation-settings: "wdth" 100;
      }
      background-image: linear-gradient(to right, blue, rgb(2, 2, 88));
    }
    #button1 {
      background-image: linear-gradient(to right, rgb(84, 83, 83), black);
    }
    #button3 {
      background-image: linear-gradient(
        to right,
        rgb(152, 152, 236),
        rgb(95, 95, 225)
      );
    }
  }

footer {
    
}


main {
    list-style-image: url();
}